body{
    overflow: hidden;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.child-container {
  display: grid;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  color: white;
}

.child-container:hover {
  opacity: 0.7;
}

#question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;

  color: black;
}

.display-score {
  position: absolute;
  font-size: 28px;
  top: 25px;
  right: 15px;
}

.hide {
  display: none !important;
}

.overlay {
  position: absolute;
  background-color: gray;
  opacity: 0.65;
  height: 100vh;
  width: 100vw;
}

.game-end-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: black;
  height: 250px;
  width: 250px;
  background-color: aqua;
  z-index: 1;
}

#restart-btn:hover {
  cursor: pointer;
}

.thumbs-up {
    position: absolute;
    height: 350px;
    top: 25vh;
    right: 0;
    z-index: 2;
    transition: transform .3s ease-in-out;
}

.thumbs-up-active{
    transform: translate(50vw)
}

.thumbs-down {
    position: absolute;
    height: 350px;
    top: 25vh;
    right: 0;
    z-index: 2;
    transition: transform .3s ease-in-out;
}

.thumbs-down-active{
    transform: translate(50vw)
}